[Unit]
Description=My nodejs webapp
ConditionPathExists=/opt/webapp/.env
After=network.target

[Service]
Type=simple 
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/node /opt/webapp/src/server.js
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target